<ion-header [translucent]="true">
  <ion-toolbar>
    <select
      [(ngModel)]="category"
      (ngModelChange)="onChange($event)"
      class="w-full text-center text-xl"
      name="categorie"
      id="categorie"
    >
      <option value="default">Categorias</option>
      @for (item of categories; track $index) {
      <option value="{{item.categorie}}">{{item.categorie}}</option>
      }
    </select>

    <ion-buttons slot="end">
      <ion-button id="left-start">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-popover trigger="left-start" side="left" alignment="start">
      <ng-template>
        <ion-list>
          <ion-item [button]="true" [detail]="false" routerLink="/categorias"
            >configuracion</ion-item
          >
          <ion-checkbox
            class="px-3"
            justify="space-between"
            [(ngModel)]="showNumbering"
            (ionChange)="onCheckboxChange($event)"
            >Remote config</ion-checkbox
          >
        </ion-list>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-searchbar />
  <app-list />
  <app-add-task />
</ion-content>
